<div id='loginUpdateUserTerm' ng-controller='AccessTermController' ng-init='init()' >
    <div class='signUpWrapperIH studentAccessTerm' id='studentAccessTerm' ng-if='studentToggle'>
        <div class='signUpBoxTitle'>
            {{'Menus.lms_please_choice' | text}}
        </div>
        <div class='signUpBoxContent'>
            <img class='entryLogoColorSignUp' src='/img/assets/logo_v1.png'/>
            <div class='loginBoxWelcome'>
                {{'Menus.start_software' | text}},<br/>
                {{'Menus.welcome_entry' | text}}
            </div>
            <div class='signUpBoxContentSwitching'>
                <div class='studentGenderCheckWrapper'>
                    <div class='signUpText'>{{'Menus.gender'| text}}
                        <span class="essentialAlert">({{'Menus.essential' | text}})</span>
                    </div>
                    <div class='genderRadio'>
                        <div ng-click="user.sex = 'male'" class='studentGender'>
                            <input type="radio" name="sex" id="male" ng-checked="user.sex == 'male'" value="male">
                            <img src ='/img/assets/art/radio_unselected.png' ng-show="user.sex == 'female'">
                            <img src ='/img/assets/art/radio_selected.png' ng-show="user.sex == 'male' || !user.sex">
                            <label for="male" class='radioGroup'>
                                {{'Menus.male' | text}}
                            </label>
                        </div>
                        <div ng-click="user.sex = 'female'" class="GenderFemalePanel">
                            <input type="radio" name="sex" id="female" ng-checked="user.sex == 'female'" value="female">
                            <img src ='/img/assets/art/radio_unselected.png' ng-show="user.sex == 'male' || !user.sex">
                            <img src ='/img/assets/art/radio_selected.png' ng-show="user.sex == 'female'">
                            <label for="female" class='radioGroup'>
                                {{'Menus.female' | text}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="signUpTermsTitle">{{'Menus.corporateClassroomTerms' | text}}
                <span class="essentialAlert">({{'Menus.essential' | text}})</span>
            </div>
            <div class="signUpTermsDesc" ng-if="langType('en')">
                <ng-include src="'/views/accessTerm_group_en.html'"/>
            </div>
            <div class="signUpTermsDesc" ng-if="!langType('en')">
                <ng-include src="'/views/accessTerm_group_ko.html'"/>
            </div>
            <div class='signUpTermsWrapper' ng-click='reverseTerms()'>
                <img src="/img/assets/study/list_checkbox_basic.png" class='loginBoxCheckBox' data-ng-show="!terms" ></img>
                <img src="/img/assets/study/list_checkbox.png" class='loginBoxCheckBox' data-ng-show="terms"></img>
                <span class='signUpTemrsSpan'>
                        {{'Menus.doAgreeWithClassroomTerms' | text}}
                    </span>
            </div>

            <div class="signUpTermsTitle signUpTermsTitlePersonal">{{'Menus.personal_information' | text}}
                <span class="essentialAlert">({{'Menus.essential' | text}})</span>
            </div>
            <div class="signUpTermsDesc" ng-if="!langType('en')">
                <ng-include src="'/views/accessTerm_privacy_ko.html'"/>
            </div>
            <div class="signUpTermsDesc" ng-if="langType('en')">
                <ng-include src="'/views/accessTerm_privacy_en.html'"/>
            </div>
            <div class='signUpTermsWrapper' ng-click='reverseTerms2()'>
                <img src="/img/assets/study/list_checkbox_basic.png" class='loginBoxCheckBox' data-ng-show="!terms2" ></img>
                <img src="/img/assets/study/list_checkbox.png" class='loginBoxCheckBox' data-ng-show="terms2"></img>
                <span class='signUpTemrsSpan'>
                        {{'Menus.personal_info' | text}}
                    </span>
            </div>

            <button class='entryConfirmButton accessTermEntryButton' ng-click="updateStudentAccessTerm()">{{'Buttons.confirm' | text}}</button>
        </div>
    </div>

</div>
</div>



