<div id='bugReport' ng-controller='HeaderController'>
    <div class='BugWrapperWorkspace'>
        <div class='bugBoxTitle'>
            {{'Menus.bug_report_title' | text}}
            <span class='bugBoxClose' ng-click='hidePopup("bugReport")'></span>
        </div>
        <div class='bugBoxContent'>
            <div class='bugBoxLogo'></div>
            <form accept-charset="UTF-8" ng-submit="sendBug($event)">
                <textarea id='bugContent' class='bugTextArea' placeholder="{{'Menus.bug_report_content' | text}}"></textarea>
                <div class='bugBoxEmail'>{{'Users.email' | text}} </div>
                <input id='bugEmail' class='bugBoxEmailInput' placeholder="{{'Menus.insert_email' | text}}"/>
            </form>
            <div class='bugBoxButtons'>
                <button class='entryCancelButton' data-ng-click="hidePopup('bugReport')">
                    {{'Buttons.cancel' | text}}
                </button>
                <button class='entryConfirmButton bugBoxConfirm'
                        data-ng-click="sendBug($event)">{{'Buttons.confirm' | text}}
                </button>
            </div>
        </div>
    </div>
</div>
