<div data-ng-controller='HeaderController' data-ng-init="init()" class="page-header">
    <div class="headerLeft">
        <div class="headerLogo">

                <img src='img/2.png'>

            <div ng-if="theme == 'ebs2015'">
                <img src='https://playentry.org/img/assets/ebs/top_img_x.PNG'>
                <a href="http://playsw.naver.com/main" target="_blank">
                    <img src='https://playentry.org/img/assets/top_logo_soft.png'>
                </a>
            </div>
        </div>
        <!-- <div class="headerDivider"></div> -->
        <div class="headerName">
            <input type="text" data-ng-model="shareSet.lecture.title" id="project_name" class="headerProjectName" disabled readonly="readonly"/>
        </div>
    </div>


    <div class="alertWrapper" id="alertWrapper" >
        <div class="groupConfirmWrapper" ng-if="alertState" ng-model="alertState">
            <div class="groupConfirmHeader">
                <span class="groupConfirmTitle">
                    {{'Menus.popup_notice' | text}}
                </span>
                <span class='groupConfirmCloseButton' ng-click="hideConfirm('alertWrapper')">
                </span>
            </div>
            <div class="groupConfirmContent">
                <div class="groupConfirmText" ng-bind-html="'Menus.hw_submit_alert' | text | unsafe">
                </div>
                <div ng-click="hideConfirm('alertWrapper')" class='popupButton cancel'>
                    {{'Buttons.cancel' | text}}
                </div>
                <div ng-click="showAlert('alertWrapper' ,'alertWrapperConfirm')" class='popupButton ok'>
                    {{'Buttons.save' | text}}
                </div>
            </div>
        </div>
    </div>
    <div class="alertWrapper" id="alertWrapperConfirm" >
        <div class="groupConfirmWrapper" ng-if="alertState" ng-model="alertState">
            <div class="groupConfirmHeader">
                <span class="groupConfirmTitle">
                    {{'Menus.popup_notice' | text}}
                </span>
            </div>
            <div class="groupConfirmContent">
                <div class="groupConfirmText">
                    {{'Menus.hw_submit_confirm_alert' | text}}
                </div>
                <div ng-click="submitConfirmFinal()" class='popupButton ok'>
                    {{'Buttons.save' | text}}
                </div>
            </div>
        </div>
    </div>
    <div class="courseIndicator" id="courseIndicator" >
        <span ng-repeat="n in shareSet.studyStatus" ng-class="getCourseIndicatorBadgeClass(n, $index)" ng-click="changeStudyIndex({{$index}})">
            <span class="courseIndicatorNumber">
                {{$index + 1}}
            </span>
        </span>
    </div>

    <!--
        sample indicator
        <span
            class="courseIndicatorBadge courseIndicatorComplete"
        >
            <span
                class="courseIndicatorNumber"
            >
                2
            </span>
        </span>
        <span
            class="courseIndicatorBadge courseIndicatorProgress"
        >
            <span
                class="courseIndicatorNumber"
            >
                3
            </span>
        </span>
        <span
            class="courseIndicatorBadge"
        >
            <span
                class="courseIndicatorNumber"
            >
                4
            </span>
        </span>
    -->
</div>
