<div id='signUpPopup' ng-controller='SignUpController' ng-init='init();'>
    <div class='signUpWrapperIH'>
        <div class='signUpBoxTitle'>
            {{'Menus.Join' | text}}
            <span class='signUpBoxClose' ng-click='hidePopup("signUpPopup")'></span>
        </div>
        <div class='signUpBoxContent' ng-hide='currentPage == 4'>
            <img class='entryLogoColorSignUp' src='/img/assets/logo_v1.png'/>
            <div class='loginBoxWelcome'>
                {{'Menus.start_software' | text}},<br/>
                {{'Menus.welcome_entry' | text}}
            </div>
        </div>
        <!--first page-->
        <div class='signUpBoxContentSwitching' ng-if='currentPage == 1'>
            <div class='signUpButtonsWrapper'>
                <div class='signUpButtonLeft' ng-click='setJob("student")' ng-class='job == "student" ? "entryConfirmButton" : "entryCancelButton"'>
                    {{'Menus.student' | text}}<br/>
                </div>
                <div class='signUpButtonRight' ng-click='setJob("teacher")' ng-class='job == "teacher" ? "entryConfirmButton" : "entryCancelButton"'>
                    {{'Menus.teacher' | text}}
                </div>
            </div>
            <div class="signUpTermsTitle ">{{'Menus.terms_conditions' | text}}
                <span class="essentialAlert">({{'Menus.essential' | text}})</div>
            <div class="signUpTermsDesc" ng-if="langType('en')">
                SECTION 1. PURPOSE. The purpose of this terms of use, in connection with the use of all services provided by Entry and related services by the Connect Foundation, is to define the rights, duties, responsibilities, and other pertinent matters between the company and the member.

                SECTION 2. DEFINITION OF TERMS. The definition of terms used in this terms of use is as follows.
                2.1. The "service" refers to all services provided by Entry and related services that may be used by the "member," regardless of the type of terminals (includes, without limitation, wired and wireless devices such as PC, TV, mobile terminals) used to utilize such services.
                2.2. A "member" refers to a customer who signs an agreement of use with the "company" in accordance with this terms of use and utilizes the "service" provided by the "company."
                2.3. "Username" refers to an arbitrary combination of letters and numbers that the "company" grants and issues, for the purpose of identification of individual "student" and usage of "classroom" service, following a request by a "teacher."
                2.4. "Password" refers to a combination of letters and/or numbers set by the "student" for the purpose of identifying her as the one matching the "classroom ID" she is given, and protecting her secrets.
                2.5. "Post" refers to files and hyper-links including photo, video and other files including, without limitation, signs, text, sound, and images posted "on the service" in the course of the "member's" utilization of the "service."

                SECTION 3. POSTING OF AND AMENDMENTS TO THE TERMS OF USE.
                3.1. The "company," in order to facilitate easy comprehension of the "member," shall post the contents of this terms of use on the initial screen of the "service."
                3.2. The "company" may amend this terms of use provided that such action does not violate the ACT ON PROMOTION OF INFORMATION AND COMMUNICATION NETWORK UTILIZATION AND INFORMATION PROTECTION (hereinafter referred to as the "Communication Network Act"), REGULATION OF STANDARDIZED CONTRACTS ACT, and other pertinent laws and regulations.
                3.3. When the "company" does make amendments to this terms of use, it shall make appropriate notification, following the method pursuant to paragraph 1, from 30 days to 1 day prior to the date of such amendment's effect, clearly stating the such date and the reason for the amendment, along with the full text of standing terms of use. However, in the event where such amendment will negatively affect the "member," the "company" shall make additional, clear notification of that fact through electronic means such as an agreement window during the log-in procedure.
                2.4. In the event where the "member" does not express his/her intention to refuse the amended terms of use, provided that the "company" has clearly notified the "member" that the lack of express refusal of the amended terms of use within the 30-day period shall be construed as an implied agreement to it, the "member's" lack of expression shall be treated as such.
                2.5. In the event where the "member" has disagreed with the application of the amended terms of use, the "company" may not apply the terms of use as amended and the "member" may terminate the agreement. However, in the event where special circumstances prevent the company from applying the original terms of use, the "company" may terminate the agreement.

                SECTION 4. INTERPRETATION OF THIS TERMS OF USE.
                The "company," in order to facilitate seamless provision of the "service," may create a separate Acceptable Use Policy, and any matters or interpretations not expressly stated or delineated herein shall be based on the Acceptable Use Policy, pertinent laws and regulations, and industry precedents.

                SECTION 5. service agreement.
                5.1. The service agreement shall be signed and construed as being in effect after an individual with the intention of becoming a "member" (hereinafter referred to as "prospective member") agrees to the terms of use, completes the membership application process, and the "company" approves the "prospective member's" application.
                5.2. The "company" shall, in principle, approve the "prospective member's" membership application. However, the "company" may refuse to approve a membership application or terminate the service agreement in following cases:
                A. The "prospective member" has already had his/her membership revoked, unless the "company" has specifically approved his/her re-application.
                B. The "prospective member" has provided false information or failed to provide the information required by the "company."
                C. The "company" is unable to approve the membership application due to reasons attributable to "prospective member," or the "prospective member" has violated the terms and clauses delineated elsewhere.
                5.3. Following the membership application in accordance with paragraph 1, the "company," depending on the type of membership sought, may request the certification of the "prospective member's" identity through a professional entity.
                5.4. The "company" may delay the approval of membership application when limited by the insufficient infrastructure, as well as technical and/or operational issues.
                5.5. In the event the "company" has declined or delayed the approval of membership application pursuant to paragraphs 2 and 4, the "company" shall notify the "prospective member" as a matter of principle.
                5.6. The date of service agreement's effect shall be the date when the "company" changes the status of membership application to "complete."
                5.7. The "company," pursuant to its policy, may allocate "members" into different tiers and may provide differing access to the "service," controlling such factors as access longevity, frequency, and types of services offered.
                5.8. The "company," in order to comply with content ratings pursuant to the PROMOTION OF THE MOTION PICTURES AND VIDEO PRODUCTS ACT and the JUVENILE PROTECTION ACT, restrict access to certain parts of the "service" to the "member."

                SECTION 6. CHANGE OF MEMBER INFORMATION.
                6.1. The "member" may access and make changes to his/her personal data through member information page at any time. However, information crucial to the operation and management of the "service," such as "ID," may not be changed.
                6.2. The "member," in the event where information provided during the course of membership application is changed, shall make appropriate changes to his/her membership data online or notify the "company" of such change through e-mail or other means.
                6.3. The "member" may access and make changes to his/her personal data through member information page at any time. However, information crucial to the operation and management of the "service," such as "ID," may not be changed.
                6.4. The "company" shall not be held liable for any damages or costs incurred from failure to notify the changes to "member's" information.

                SECTION 7. PROTECTION OF PERSONAL DATA. The "company" shall strive to protect the "member's" personal data pursuant to the "Communication Network Act" and other pertinent laws and regulations. The "company's" personal data policy shall apply to the protection and use of personal data. However, the company's personal data policy does not apply to any hyper-linked website other than the official website of the "company."

                SECTION 8. MANAGEMENT OF "MEMBER'S" "USERNAME" AND "PASSWORD"
                8.1. The "member" shall be responsible for managing his/her "username" and "password," and shall not allow a third party to make use of them.
                8.2. The "company" may limit the use of an "username" in the event where the "username" may cause a disclosure of personal data, cause the "member" to be confused with the "company" or its representatives, or is otherwise antisocial or in violation of good public morals.
                8.3. The "member," when made aware of any authorized uses of his/her "username" and "password," shall expressly notify the "company" and follow its instructions.
                8.4. In the event described in paragraph 3, the "company" shall not be held liable for any damages or costs incurred from the "member's" failure to notify the "company" or failure to follow its instructions after notifying the "company."

                SECTION 9. NOTIFICATIONS TO THE "MEMBER."
                9.1. In the event where the "company" must make notifications to the "member," the "company" may do so using methods such as web notification and e-mail, unless specified otherwise herein.

                9.2. In the event where the "company" must make notifications to all of the "members," it may replace individual notifications with a single notification to its webpage for more than 7 days.


                SECTION 10. OBLIGATIONS OF THE "COMPANY."
                10.1. The "company" shall not engage in acts that is prohibited by pertinent laws and this terms of use, as well as acts that are against good public morals. It shall strive to provide continuous and stable service to its "members."


                10.2. The "company," in order to provide a safe environment for the "member," shall establish and maintain security systems and measures, including, without limitation, measures to safeguard personal data (including credit information), and shall post its personal data policy and abide by it.

                10.3. The "company," in order to process complaints and requests for relief by the "member" in connection to the use of its service, shall establish and maintain necessary system and personnel.

                10.4. The "company" shall properly process opinions and complaints raised by the "member" that are deemed just.
                The "company" shall follow up with the "member" regarding the opinions and complaints raised by him/her through message boards and/or e-mail.


                SECTION 11. OBLIGATIONS OF THE "MEMBER."
                The "member" shall not engage in following acts.
                A. Providing false information during the course of membership application or change of member information
                B. Co-opting personal information of others as his/her own
                C. Changing information posted by the "company"
                D.Transmitting or posting information other than those specified (computer program, etc) by the "company"
                E. Infringing on intellectual property rights of the company or third party
                F. Libeling the company or third party or otherwise causing disruptions to its operation
                G. Posting or disclosing obscene or violent message, image, and/or audio, or information that is otherwise detrimental to good public morals on the "service"
                H. Using the "service" for profit making purposes without the approval of the "company"
                I. Other illegal or unjust acts.
                11.2. The "member" shall abide by this terms of use, Acceptable Use Policy, use guide, notice posted in connection of the use of "service," and other notifications made by the "company," and shall not engage in acts that is disruptive of the "company's" operations.

                SECTION 12. PROVISION OF "SERVICE"
                12.1. The "company" shall provide the following service to the "member":
                A. Programming training
                B. Programming authoring platform
                C. Programming product sharing platform
                D. Educational community in connection with programming training
                E. All other service provided to the "member" through additional development by the "company" or in partnership with other companies
                12.2. The "company" may divide its "service" along a certain parameter to assign different access time to each segments. However, such action must follow an advance notification
                12.3. The "service" shall be provided 24 hours a day, 365 days a year in principle.
                12.4. The "company" may temporaily cease its provision of service, provided that there are operationally significant reasons to do so, such as communications blackout, as well as maintenance, replacement, and malfunction of communications and networking equipment. In such event, the "company" shall notify the "member" using methods pursuant to SECTION 9. However, the "company" may notify the "member" at a later time, provided that there are reasonable causes that prevent advance notification.
                12.5. The "company," when deemed necessary for continuous provision of "service," may conduct scheduled maintenance, which shall be consistent with the schedule posted on the "service" webpage.

                SECTION 13. CHANGES TO THE "SERVICE."
                13.1. The "company," reflecting operational and technical necessity, may make changes to the "service" in part or in whole, provided that there are reasonable causes to do so.
                13.2. In the event where changes to the "service's" content, method of use, and access times are made, the "company" must post the pertinent information including the reasons for the change, details of the service subject to change, and date of effect on the appropriate service's initial screen.
                13.3. The "company," when deemed necessary for operational and policy reasons, may modify, suspend, or change the freely provided service in part or in full, and makes no separate compensations to the "member" unless otherwise specifically stated in pertinent laws and regulations.

                SECTION 14. PROVISION OF INFORMATION AND POSTING OF ADVERTISEMENTS.
                14.1. The "company" may provide, via website notification page or e-mail, to the "member" various manner of information that is deemed to be necessary during the use of "service." However, the "member" may refuse to receive e-mails of such nature at any time, barring transaction information in accordance with pertinent laws and answers to customer inquiry.
                14.2. The "company" must obtain prior approval of the "member" in the event where the "company" wishes to transmit information described in paragraph 1 to him/her through telephone of faxmile. Exceptions shall be made for transaction information in accordance with pertinent laws and answers to customer inquiry.
                14.3. The "company" may post advertisements to the "service" screen, webpage, and e-mail. A "member" in receipt of an e-mail with adverts may request the "company" to cease sending such e-mails.
                14.4. The "user"(includes members and non-members) shall not modify, change, or restrict posts and other information related to the "service" provided by the "company."

                SECTION 15. COPYRIGHTS.
                15.1. The copyright of "posts" within the "service" by the member shall be held by the author.
                15.2. The "posts" made to the "service" by the "member" may be exposed to search engine inquiry and "service"- promotion, and may also be modified, changed, and/or edited as necessary in order to preserve the integrity of online gaming. In such event, the "company" shall abide by the COPYRIGHT ACT OF KOREA, and the "member" may delete or hide such "posts" using the admin fuction within the service or the help desk.
                15.3. The "company" shall obtain advance approval from the "member" when intending to use a "post" made by him/her for purposes other than those specified on paragraph 2.

                SECTION 16. ADMINISTRATION.
                16.1. The administrator may request to the "company" that a post made by the "member" that is in violation of "Communications Network Act" and/or COPYRIGHT ACT OF KOREA be censured, and the "company" shall respond pursuant to pertinent laws and regulations.
                16.2. The "company," when the post stands in violation of the "company's" policies and pertinent laws, may place the post under censure, even in the absence of administrator request.

                SECTION 17. OWNERSHIP OF RIGHTS.
                17.1. All copyrights and intellectual property rights pertaining to the "service" shall be owned by the "company." However, "posts" made by the "member" and intellectual property provided under the partnership agreement shall be exempt.
                17.2. The "company" only provides ownership of access rights specified in the terms of use determined by the "company" such as membership accounts and contents to the "member," and the "member" shall transfer, sell, or provide as collateral his/her ownership to third party.

                SECTION 18. POINTS
                The "company," in order to facilitate effective usage and operation of the "service," may modify the "points" granted to the "member" in part or in full, and the "points" may periodically expire at the end of specific time period designated by the "company."

                SECTION 19. TERMINATION, EXPIRATION, ETC.
                19.1. The "member" may request the termination of service agreement through the customer center or member information management menu, and the "company" shall expressly process such requests pursuant to pertinent laws and regulations.
                19.2. In the event where the "member" terminates the service agreement, all data pertaining to the "member," barring any information held pursuant to pertinent laws and regulations, as well as the "company's" personal data policy, shall be expired and deleted.
                19.3. In the event where the "member" terminates the service agreement, all "posts" made under the "member's" account, such as individual projects, shall be deleted. However, any "posts" made on shared message boards and those re-posted elsewhere within the "service" will not be automatically deleted. Any "member" wishing to terminate his/her service agreement is advised to delete such "posts" him/herself or make delete request to the "company" prior to terminating his/her agreement.
                19.4. In connection to the above, any "posts" not under the ownership of the "member" or under shared ownership with the others may not be deleted.
                SECTION 20. CENSURE OF SERVICE.
                20.1. In the event where the "member" has breached his/her obligations herein or otherwise disrupts normal operation of the service, the "company" may censure his/her access to the "service" using measures such as warning, suspension, and termination.
                20.2. Notwithstanding the above, in the event where the "member" has committed acts that violate pertinent laws and regulations, such as providing illegal programs to the others or disrupting the "company's" operations in violation of the COMPUTER PROGRAMS PROTECTION ACT and the COPYRIGHT ACT OF KOREA, or engaging in illegal communications, hacking, distribution of malware, and abuse of access rights in violation of the "Communications Network Act," the "company" may immediately terminate such "member's" membership. In the event of termination pursuant to this paragraph, all "points" and other benefits acquired through the use of the "service" will expire, and the "company" is not responsible for making any sorts of compensation for such.
                20.3. The "company," in the event where the "member" does not sign-in to his/her account for more than 3 months, may restrict the access of such account in order to protect personal data and ensure effective operation.
                20.4. The conditions for and details of such censure shall be as defined in the Acceptable Use Policy.
                20.5. In the event where the "member's" access is restricted, censured, or the "member" has terminated his/her agreement, the "company" shall notify the "member" pursuant to SECTION 9.
                20.6. The "member" may file an objection, pursuant to procedures designated by the "company," on restrictions, censures, and other measures in this section. The "company," should it determine that the "member's" objection hold merit, shall immediately restore the "member's" access to its original condition.

                SECTION 21. INDEMNITY
                21.1. The "company" shall not be held liable for service interruptions and failures due to acts of god and/or equivalent force majeure.
                21.2. The "company" shall not be held liable for service interruptions due to reasons attributable to the "member."
                21.3. The "company" is not responsible for reliability, accuracy and other aspects of informations, materials, and facts posted by the "member" in connection with the "service."
                21.4. The "company" shall not be held liable for any consequences of transactions and similar interactions through the "service" between "members" or with third party.
                21.5. The "company" takes no responsibility for matters pertaining to the use of freely provided "service," unless specified in pertinent laws and regulations.

                SECTION 22. GOVERNING LAW AND JURISDICTION.
                22.1. Any legal action taken between the "company" and the "member" shall be governed by the laws of the Republic of Korea.
                22.2. Any legal action taken in connection with disputes between the "company" and the "member," shall be under the jurisdiction of the district court of the "member's" address, as provided and known to the "company" at the time of such legal action's commencement, and in the absence of such address, the jurisdiction of the district court of the "member's" residence shall apply. However, in the event where the "member" has no clear address or place of residence, the jurisdiction shall be determined pursuant to the CIVIL PROCEDURE ACT.

                ADDENDUM
                A. This terms of use is effective 29 October 2017.
                B. The terms of use currently in effect shall be replaced as of 18 March 2016.

                <a href="/#!/terms/20160318/en">Prior version of terms of use (in effect: 18 Mar 16 - 28 Oct 17)</a>
                <a href="/#!/terms/20151120/en">Prior version of terms of use (in effect: 20 Nov 15 - 17 Mar 16)</a>
                <a href="/#!/terms/20140415/en">Prior version of terms of use (in effect: 15 Apr 14 - 19 Nov 15)</a>

            </div>
            <div class="signUpTermsDesc" ng-if="!langType('en')">
                제 1 조 (목적) 이 약관은 재단법인 커넥트가 제공하는 엔트리 및 엔트리와 관련 제반 서비스의 이용과 관련하여 회사와 회원과의 권리, 의무 및 책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.

                제 2 조 (정의) 이 약관에서 사용하는 용어의 정의는 다음과 같습니다.
                ① "서비스"라 함은 구현되는 단말기(pc, tv, 휴대형단말기 등의 각종 유무선 장치를 포함)와 상관없이 "회원"이 이용할 수 있는 엔트리 및 엔트리와 관련 제반 서비스를 의미합니다.
                ② "회원"이라 함은 회사의 "서비스"에 접속하여 이 약관에 따라 "회사"와 이용계약을 체결하고 "회사"가 제공하는 "서비스"를 이용하는 고객을 말합니다.
                ③ "아이디(id)"이라 함은 "회원"의 식별과 "서비스" 이용을 위하여 "회원"이 정하고 "회사"가 승인하는 문자와 숫자의 조합을 의미합니다.
                ④ "비밀번호"라 함은 "회원"이 부여 받은 "아이디와 일치되는 "회원"임을 확인하고 비밀보호를 위해 "회원" 자신이 정한 문자 또는 숫자의 조합을 의미합니다.
                ⑤ "게시물"이라 함은 "회원"이 "서비스"를 이용함에 있어 "서비스상"에 게시한 부호ㆍ문자ㆍ음성ㆍ음향ㆍ화상ㆍ동영상 등의 정보 형태의 글, 사진, 동영상 및 각종 파일과 링크 등을 의미합니다.

                제 3 조 (약관의 게시와 개정)
                ① "회사"는 이 약관의 내용을 "회원"이 쉽게 알 수 있도록 서비스 초기 화면에 게시합니다.
                ② "회사"는 "약관의규제에관한법률", "정보통신망이용촉진및정보보호등에관한법률(이하 "정보통신망법")" 등 관련법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.
                ③ "회사"가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 제1항의 방식에 따라 그 개정약관의 적용일자 30일 전부터 적용일자 전일까지 공지합니다. 다만, 회원에게 불리한 약관의 개정의 경우에는 공지 외에 로그인시 동의창 등의 전자적 수단을 통해 따로 명확히 통지하도록 합니다.
                ④ 회사가 전항에 따라 개정약관을 공지 또는 통지하면서 회원에게 30일 기간 내에 의사표시를 하지 않으면 의사표시가 표명된 것으로 본다는 뜻을 명확하게 공지 또는 통지하였음에도 회원이 명시적으로 거부의 의사표시를 하지 아니한 경우 회원이 개정약관에 동의한 것으로 봅니다.
                ⑤ 회원이 개정약관의 적용에 동의하지 않는 경우 회사는 개정 약관의 내용을 적용할 수 없으며, 이 경우 회원은 이용계약을 해지할 수 있습니다. 다만, 기존 약관을 적용할 수 없는 특별한 사정이 있는 경우에는 회사는 이용계약을 해지할 수 있습니다.

                제 4 조 (약관의 해석)
                “회사”는 “서비스”의 원활한 제공을 위하여 별도의 이용정책을 둘 수 있으며, 이 약관에서 정하지 아니한 사항이나 해석에 대해서는 이용정책, 관계법령 또는 상관례에 따릅니다.

                제 5 조 (이용계약 체결)
                ① 이용계약은 "회원"이 되고자 하는 자(이하 "가입신청자")가 약관의 내용에 대하여 동의를 한 다음 회원가입신청을 하고 "회사"가 이러한 신청에 대하여 승낙함으로써 체결됩니다.
                ② "회사"는 "가입신청자"의 신청에 대하여 "서비스" 이용을 승낙함을 원칙으로 합니다. 다만, "회사"는 다음 각 호에 해당하는 신청에 대하여는 승낙을 하지 않거나 사후에 이용계약을 해지할 수 있습니다.
                1. 가입신청자가 이 약관에 의하여 이전에 회원자격을 상실한 적이 있는 경우, 단 "회사"의 회원 재가입 승낙을 얻은 경우에는 예외로 함.
                2. 허위의 정보를 기재하거나, "회사"가 제시하는 내용을 기재하지 않은 경우
                3. ”가입신청자”의 귀책사유로 인하여 승인이 불가능하거나 기타 규정한 제반 사항을 위반하며 신청하는 경우
                ③ 제1항에 따른 신청에 있어 "회사"는 "회원"의 종류에 따라 전문기관을 통한 실명확인 및 본인인증을 요청할 수 있습니다.
                ④ "회사"는 서비스관련설비의 여유가 없거나, 기술상 또는 업무상 문제가 있는 경우에는 승낙을 유보할 수 있습니다.
                ⑤ 제2항과 제4항에 따라 회원가입신청의 승낙을 하지 아니하거나 유보한 경우, "회사"는 원칙적으로 이를 가입신청자에게 알리도록 합니다.
                ⑥ 이용계약의 성립 시기는 "회사"가 가입완료를 신청절차 상에서 표시한 시점으로 합니다.
                ⑦ "회사"는 "회원"에 대해 회사정책에 따라 등급별로 구분하여 이용시간, 이용횟수, 서비스 메뉴 등을 세분하여 이용에 차등을 둘 수 있습니다.
                ⑧ "회사"는 "회원"에 대하여 "영화및비디오물의진흥에관한법률" 및 "청소년보호법"등에 따른 등급 및 연령 준수를 위해 이용제한이나 등급별 제한을 할 수 있습니다.

                제 6 조 (회원정보의 변경)
                ① "회원"은 개인정보관리화면을 통하여 언제든지 본인의 개인정보를 열람하고 수정할 수 있습니다. 다만, 서비스 관리를 위해 필요한 “아이디” 등은 수정이 불가능합니다.
                ② "회원"은 회원가입신청 시 기재한 사항이 변경되었을 경우 온라인으로 수정을 하거나 전자우편 기타 방법으로 "회사"에 대하여 그 변경사항을 알려야 합니다.
                ③ "회원"은 개인정보관리화면을 통하여 언제든지 본인의 개인정보를 열람하고 수정할 수 있습니다. 다만, 서비스 관리를 위해 필요한 “아이디” 등은 수정이 불가능합니다.
                ④ 제2항의 변경사항을 "회사"에 알리지 않아 발생한 불이익에 대하여 "회사"는 책임지지 않습니다.

                제 7 조 (개인정보보호 의무) "회사"는 "정보통신망법" 등 관계 법령이 정하는 바에 따라 "회원"의 개인정보를 보호하기 위해 노력합니다. 개인정보의 보호 및 사용에 대해서는 관련법 및 "회사"의 개인정보처리방침이 적용됩니다. 다만, "회사"의 공식 사이트 이외의 링크된 사이트에서는 "회사"의 개인정보처리방침이 적용되지 않습니다.

                제 8 조 ("회원"의 "아이디" 및 "비밀번호"의 관리에 대한 의무)
                ① “회원”의 “아이디”와 “비밀번호”에 관한 관리책임은 “회원”에게 있으며, 이를 제 3자가 이용하도록 하여서는 안 됩니다.
                ② “회사”는 “회원”의 “아이디”가 개인정보 유출 우려가 있거나, 반사회적 또는 미풍양속에 어긋나거나 “회사” 및 “회사”의 운영자로 오인할 우려가 있는 경우, 해당 “아이디”의 이용을 제한할 수 있습니다.
                ③ "회원"은 "아이디" 및 "비밀번호"가 도용되거나 제3자가 사용하고 있음을 인지한 경우에는 이를 즉시 "회사"에 통지하고 "회사"의 안내에 따라야 합니다.
                ④ 제3항의 경우에 해당 "회원"이 "회사"에 그 사실을 통지하지 않거나, 통지한 경우에도 "회사"의 안내에 따르지 않아 발생한 불이익에 대하여 "회사"는 책임지지 않습니다.

                제 9 조 ("회원"에 대한 통지)
                ① "회사"가 "회원"에 대한 통지를 하는 경우 이 약관에 별도 규정이 없는 한 서비스 화면,
                전자우편주소 등으로 할 수 있습니다.
                ② “회사”는 “회원” 전체에 대해 통지의 경우 7일 이상 “회사”의 공지사항에 게시함으로써
                제1항의 통지에 갈음할 수 있습니다.

                제 10 조 ("회사"의 의무)
                ① "회사"는 관련법과 이 약관이 금지하거나 미풍양속에 반하는 행위를 하지 않으며,
                계속적이고 안정적으로 "서비스"를 제공하기 위하여 최선을 다하여 노력합니다.

                ② "회사"는 "회원"이 안전하게 "서비스"를 이용할 수 있도록 개인정보(신용정보 포함)보호를
                위해 보안시스템을 갖추어야 하며 개인정보처리방침을 공시하고 준수합니다.
                ③ "회사"는 서비스이용과 관련하여 발생하는 ”회원”의 불만 또는 피해구제요청을 적절하게
                처리할 수 있도록 필요한 인력 및 시스템을 구비합니다.
                ④ "회사"는 서비스이용과 관련하여 "회원"으로부터 제기된 의견이나 불만이 정당하다고 인정할
                경우에는 이를 처리하여야 합니다. "회원"이 제기한 의견이나 불만사항에 대해서는 게시판을
                활용하거나 전자우편 등을 통하여 "회원"에게 처리과정 및 결과를 전달합니다.

                제 11 조 ("회원"의 의무)
                ① "회원"은 다음 행위를 하여서는 안 됩니다.
                1. 신청 또는 변경 시 허위내용의 등록
                2. 타인의 정보도용
                3. "회사"가 게시한 정보의 변경
                4."회사"가 정한 정보 이외의 정보(컴퓨터 프로그램 등) 등의 송신 또는 게시
                5. "회사"와 기타 제3자의 저작권 등 지적재산권에 대한 침해
                6. "회사" 및 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위
                7. 외설 또는 폭력적인 메시지, 화상, 음성, 기타 공서양속에 반하는 정보를 "서비스"에 공개 또는 게시하는 행위
                8. 회사의 동의 없이 영리를 목적으로 "서비스"를 사용하는 행위
                9. 기타 불법적이거나 부당한 행위
                ② "회원"은 관계법, 이 약관의 규정, 이용정책, 이용안내 및 "서비스"와 관련하여 공지한 주의사항, "회사"가 통지하는 사항 등을 준수하여야 하며, 기타 "회사"의 업무에 방해되는 행위를 하여서는 안 됩니다.

                제 12 조 ("서비스"의 제공 등)
                ① 회사는 회원에게 아래와 같은 서비스를 제공합니다.
                1. 프로그래밍 교육 서비스
                2. 프로그래밍 저작 플랫폼
                3. 프로그래밍 저작물 공유 플랫폼
                4. 프로그래밍 교육 관련 커뮤니티
                5. 기타 "회사"가 추가 개발하거나 다른 회사와의 제휴계약 등을 통해 "회원"에게 제공하는 일체의 서비스
                ② 회사는 "서비스"를 일정범위로 분할하여 각 범위 별로 이용가능시간을 별도로 지정할 수 있습니다. 다만, 이러한 경우에는 그 내용을 사전에 공지합니다.
                ③ "서비스"는 연중무휴, 1일 24시간 제공함을 원칙으로 합니다.
                ④ "회사"는 컴퓨터 등 정보통신설비의 보수점검, 교체 및 고장, 통신두절 또는 운영상 상당한 이유가 있는 경우 "서비스"의 제공을 일시적으로 중단할 수 있습니다. 이 경우 "회사"는 제9조["회원"에 대한 통지]에 정한 방법으로 "회원"에게 통지합니다. 다만, "회사"가 사전에 통지할 수 없는 부득이한 사유가 있는 경우 사후에 통지할 수 있습니다.
                ⑤ "회사"는 서비스의 제공에 필요한 경우 정기점검을 실시할 수 있으며, 정기점검시간은 서비스제공화면에 공지한 바에 따릅니다.

                제 13 조 ("서비스"의 변경)
                ① "회사"는 상당한 이유가 있는 경우에 운영상, 기술상의 필요에 따라 제공하고 있는 전부 또는 일부 "서비스"를 변경할 수 있습니다.
                ② "서비스"의 내용, 이용방법, 이용시간에 대하여 변경이 있는 경우에는 변경사유, 변경될 서비스의 내용 및 제공일자 등은 그 변경 전에 해당 서비스 초기화면에 게시하여야 합니다.
                ③ "회사"는 무료로 제공되는 서비스의 일부 또는 전부를 회사의 정책 및 운영의 필요상 수정, 중단, 변경할 수 있으며, 이에 대하여 관련법에 특별한 규정이 없는 한 "회원"에게 별도의 보상을 하지 않습니다.

                제 14 조 (정보의 제공 및 광고의 게재)
                ① "회사"는 "회원"이 "서비스" 이용 중 필요하다고 인정되는 다양한 정보를 공지사항이나 전자우편 등의 방법으로 "회원"에게 제공할 수 있습니다. 다만, "회원"은 관련법에 따른 거래관련 정보 및 고객문의 등에 대한 답변 등을 제외하고는 언제든지 전자우편에 대해서 수신 거절을 할 수 있습니다.
                ② 제1항의 정보를 전화 및 모사전송기기에 의하여 전송하려고 하는 경우에는 "회원"의 사전 동의를 받아서 전송합니다. 다만, "회원"의 거래관련 정보 및 고객문의 등에 대한 회신에 있어서는 제외됩니다.
                ③ "회사"는 "서비스"의 운영과 관련하여 서비스 화면, 홈페이지, 전자우편 등에 광고를 게재할 수 있습니다. 광고가 게재된 전자우편을 수신한 "회원"은 수신거절을 "회사"에게 할 수 있습니다.
                ④ "이용자(회원, 비회원 포함)"는 회사가 제공하는 서비스와 관련하여 게시물 또는 기타 정보를 변경, 수정, 제한하는 등의 조치를 취하지 않습니다.

                제 15 조 ("게시물"의 저작권)
                ① "회원"이 "서비스" 내에 게시한 "게시물"의 저작권은 해당 게시물의 저작자에게 귀속됩니다.
                ② "회원"은 본인이 작성한 게시물(작품)을 서비스내에 공개할 경우 다음 각 호의 사항을 허락하며, 구체적인 내용은 엔트리 저작권 이용정책에 따릅니다.
                1. 내가 만든 게시물(작품) 공개 시, 내가 만든 게시물(작품)과 그 소스코드의 공개를 동의합니다.
                2. 내가 만든 게시물(작품) 공개 시, 다른 사람이 나의 게시물(작품)을 이용하는 것을 허락합니다.(복제, 배포, 공중송신 포함)
                3. 내가 만든 게시물(작품) 공개 시, 다른 사람이 나의 게시물(작품)을 수정하는 것을 허락합니다.(리믹스, 변형, 2차 저작물 제작 포함)
                ③ "회원"이 "서비스" 내에 게시하는 "게시물"은 검색결과 내지 "서비스" 및 관련 프로모션 등에 노출될 수 있으며, 해당 노출을 위해 필요한 범위 내에서는 일부 수정, 복제, 편집되어 게시될 수 있습니다. 이 경우, 회사는 저작권법 규정을 준수하며, "회원"은 언제든지 고객센터 또는 "서비스" 내 관리기능을 통해 해당 게시물에 대해 삭제, 비공개 등의 조치를 취할 수 있습니다.
                ④ "회사"는 제2항 이외의 방법으로 "회원"의 "게시물"을 이용하고자 하는 경우에는 전화, 팩스, 전자우편 등을 통해 사전에 "회원"의 동의를 얻어야 합니다.

                제 16 조 ("게시물"의 관리)
                ① "회원"의 "게시물"이 "정보통신망법" 및 "저작권법"등 관련법에 위반되는 내용을 포함하는 경우, 권리자는 관련법이 정한 절차에 따라 해당 "게시물"의 게시중단 및 삭제 등을 요청할 수 있으며, "회사"는 관련법에 따라 조치를 취하여야 합니다.
                ② "회사"는 전항에 따른 권리자의 요청이 없는 경우라도 권리침해가 인정될 만한 사유가 있거나 기타 회사 정책 및 관련법에 위반되는 경우에는 관련법에 따라 해당 "게시물"에 대해 임시조치 등을 취할 수 있습니다.

                제 17 조 (권리의 귀속)
                ① "서비스"에 대한 저작권 및 지적재산권은 "회사"에 귀속됩니다. 단, "회원"의 "게시물" 및 제휴계약에 따라 제공된 저작물 등은 제외합니다.
                ② "회사"는 서비스와 관련하여 "회원"에게 "회사"가 정한 이용조건에 따라 계정,  콘텐츠,  등을 이용할 수 있는 이용권만을 부여하며, "회원"은 이를 양도, 판매, 담보제공 등의 처분행위를 할 수 없습니다.

                제 18 조 (포인트)
                "회사"는 서비스의 효율적 이용 및 운영을 위해 사전 공지 후 "포인트"의 일부 또는 전부를 조정할 수 있으며, "포인트"는 회사가 정한 기간에 따라 주기적으로 소멸할 수 있습니다.

                제 19 조 (계약해제, 해지 등)
                ① "회원"은 언제든지 서비스초기화면의 고객센터 또는 내 정보 관리 메뉴 등을 통하여 이용계약 해지 신청을 할 수 있으며, "회사"는 관련법 등이 정하는 바에 따라 이를 즉시 처리하여야 합니다.
                ② "회원"이 계약을 해지할 경우, 관련법 및 개인정보취급방침에 따라 "회사"가 회원정보를 보유하는 경우를 제외하고는 해지 즉시 "회원"의 모든 데이터는 소멸됩니다.
                ③ "회원"이 계약을 해지하는 경우, "회원"이 작성한 "게시물" 중 프로젝트 등과 같이 본인 계정에 등록된 게시물 일체는 삭제됩니다. 다만, 공용게시판에 등록된 “게시물”, 공유 등이 되어 재게시된 “게시물”은 삭제되지 않으니, 직접 삭제 또는 “회사”에 삭제 요청을 통하여 사전에 삭제 후 탈퇴하시기 바랍니다.
                ④ 전항과 관련하여 “회원”이 저작자가 아니거나 타인이 공동으로 권리를 보유한 “게시물”의 경우 삭제되지 않을 수 있습니다.
                제 20 조 (이용제한 등)
                ① "회사"는 "회원"이 이 약관의 의무를 위반하거나 "서비스"의 정상적인 운영을 방해한 경우, 경고, 일시정지, 영구이용정지 등으로 "서비스" 이용을 단계적으로 제한할 수 있습니다.
                ② "회사"는 전항에도 불구하고, 결제도용, "저작권법" 및 "컴퓨터프로그램보호법"을 위반한 불법프로그램의 제공 및 운영방해, "정보통신망법"을 위반한 불법통신 및 해킹, 악성프로그램의 배포, 접속권한 초과행위 등과 같이 관련법을 위반한 경우에는 즉시 영구이용정지를 할 수 있습니다. 본 항에 따른 영구이용정지 시 "서비스" 이용을 통해 획득한 "포인트" 및 기타 혜택 등도 모두 소멸되며, "회사"는 이에 대해 별도로 보상하지 않습니다.
                ③ "회사"는 "회원"이 계속해서 3개월 이상 로그인하지 않는 경우, 회원정보의 보호 및 운영의 효율성을 위해 이용을 제한할 수 있습니다.
                ④ "회사"는 본 조의 이용제한 범위 내에서 제한의 조건 및 세부내용은 이용정책에서 정하는 바에 의합니다.
                ⑤ 본 조에 따라 "서비스" 이용을 제한하거나 계약을 해지하는 경우에는 "회사"는 제9조["회원"에 대한 통지]에 따라 통지합니다.
                ⑥ "회원"은 본 조에 따른 이용제한 등에 대해 "회사"가 정한 절차에 따라 이의신청을 할 수 있습니다. 이 때 이의가 정당하다고 "회사"가 인정하는 경우 "회사"는 즉시 "서비스"의 이용을 재개합니다.

                제 21 조 (책임제한)
                ① "회사"는 천재지변 또는 이에 준하는 불가항력으로 인하여 "서비스"를 제공할 수 없는 경우에는 "서비스" 제공에 관한 책임이 면제됩니다.
                ② "회사"는 "회원"의 귀책사유로 인한 "서비스" 이용의 장애에 대하여는 책임을 지지 않습니다.
                ③ "회사"는 "회원"이 "서비스"와 관련하여 게재한 정보, 자료, 사실의 신뢰도, 정확성 등의 내용에 관하여는 책임을 지지 않습니다.
                ④ "회사"는 "회원" 간 또는 "회원"과 제3자 상호간에 "서비스"를 매개로 하여 거래 등을 한 경우에는 책임이 면제됩니다.
                ⑤ "회사"는 무료로 제공되는 서비스 이용과 관련하여 관련법에 특별한 규정이 없는 한 책임을 지지 않습니다.

                제 22 조 (준거법 및 재판관할)
                ① "회사"와 "회원" 간 제기된 소송은 대한민국법을 준거법으로 합니다.
                ② "회사"와 "회원"간 발생한 분쟁에 관한 소송은 제소 당시의 "회원"의 주소에 의하고, 주소가 없는 경우 거소를 관할하는 지방법원의 전속관할로 합니다. 단, 제소 당시 "회원"의 주소 또는 거소가 명확하지 아니한 경우의 관할법원은 민사소송법에 따라 정합니다.

                부칙
                1. 이 약관은 2017년 10월 29일부터 적용됩니다.
                2. 2016년 3월 18일부터 시행되던 종전의 약관은 본 약관으로 대체합니다.

                <a href="/#!/terms/20160318">이전 이용약관 보기 (2016년 3월 18일 - 2017년 10월 28일 적용)</a>
                <a href="/#!/terms/20151120">이전 이용약관 보기 (2015년 11월 20일 - 2016년 03월 17일 적용)</a>
                <a href="/#!/terms/20140415">이전 이용약관 보기 (2014년 4월 15일 - 2015년 11월 19일 적용)</a>
            </div>
            <div class='signUpTermsWrapper' ng-click='reverseTerms()'>
                <img src="/img/assets/study/list_checkbox_basic.png" class='loginBoxCheckBox' data-ng-show="!terms" ></img>
                <img src="/img/assets/study/list_checkbox.png" class='loginBoxCheckBox' data-ng-show="terms"></img>
                <span class='signUpTemrsSpan'>
                        {{'Menus.entry_agree' | text}}
                    </span>
            </div>
            <div class="signupErrorSecond">
                {{checkUserList.useageTerm}}
            </div>
            <div class="signUpTermsTitle signUpTermsTitlePersonal">{{'Menus.personal_information' | text}}
                <span class="essentialAlert">({{'Menus.essential' | text}})</span>
            </div>
            <div class="signUpTermsDesc" ng-if="!langType('en')">
                <ng-include src="'/views/accessTerm_privacy_ko.html'"/>
            </div>
            <div class="signUpTermsDesc" ng-if="langType('en')">
                <ng-include src="'/views/accessTerm_privacy_en.html'"/>
            </div>
            <div class='signUpTermsWrapper' ng-click='reverseTerms2()'>
                <img src="/img/assets/study/list_checkbox_basic.png" class='loginBoxCheckBox' data-ng-show="!terms2" ></img>
                <img src="/img/assets/study/list_checkbox.png" class='loginBoxCheckBox' data-ng-show="terms2"></img>
                <span class='signUpTemrsSpan'>
                        {{'Menus.personal_info' | text}}
                    </span>
            </div>
            <div class="signupErrorSecond">
                {{checkUserList.personalTerm}}
            </div>
            <div class='signUpCircles'>
                <div class='signUpCircleHigh'></div>
                <div class='signUpCircle'></div>
                <div class='signUpCircle'></div>
            </div>
            <div class='entryConfirmButton signupNextBtn signUpCenterButton' ng-click="goNextSignUp()" ng-click-once>{{'Menus.next' | text}}</div>
            <div class='signUpDummyHiehgt'></div>
        </div>
        <!--second page-->
        <div class='signUpBoxContentSwitching' ng-show='currentPage == 2'>
            <div class='signUpText signUpTextFirst'>{{'Menus.enter_id' | text}}
                <span class="essentialAlert">({{'Menus.essential' | text}})</span>
            </div>
            <input id='userId' class='signUpInputField' ng-blur='setUserFlag(false)' placeholder="{{'Menus.validation_id' | text}}." />
            <div class="signupErrorSecond">
                {{checkUserList.already_exist_id}}
            </div>
            <div class='signUpText'>{{'Menus.enter_password' | text}}
                <span class="essentialAlert">({{'Menus.essential' | text}})</span>
            </div>
            <input id='password1' type='password' class='signUpInputField' ng-keydown='stopPropagation($event)' placeholder="{{'Menus.validation_password' | text }}" />
            <div class="signupErrorSecond">
                {{checkUserList.password_validate_pwd}}
            </div>
            <div class='signUpText'>{{'Menus.confirm_password' | text}}
                <span class="essentialAlert">({{'Menus.essential' | text}})</span>
            </div>
            <input id='password2' type="password" class='signUpInputField' ng-keydown='stopPropagation($event)' placeholder="{{'Menus.enter_password_again' | text}}" />
            <div class="signupErrorSecond">
                {{checkUserList.password_validate_same}}
            </div>
            <div class='signUpCircles_second'>
                <div class='signUpCircleHigh'></div>
                <div class='signUpCircleHigh'></div>
                <div class='signUpCircle'></div>
            </div>
            <div class='signUpButtonsWrapperSecond'>
                <div class='entryCancelButton signUpButtonPrev' ng-click='goPrevSignUp()'>{{'Menus.prev' | text}}</div>
                <div class='entryConfirmButton signUpButtonNext' ng-click='goNextSignUp()' ng-click-once>{{'Menus.next' | text}}</div>
            </div>
            <div class='signUpDummyHiehgt'></div>
        </div>
        <!--third page-->
        <div class='signUpBoxContentSwitching' ng-show='currentPage == 3'>
            <div class='signUpText signUpTextFirst'>{{'Menus.studying_stage' | text}}
                <span class="essentialAlert">({{'Menus.essential' | text}})</span>
            </div>
            <select class='signUpInputField' name="studying_stage" id='studying_stage' ng-model="grade" required>
                <option value="" disabled select>{{'Menus.option' | text}}</option>
                <option ng-repeat="studying_stage in studying_stages" value="{{::studying_stage}}">{{::getStudyingStage(studying_stage)}}</option>
            </select>
            <div class="signupErrorSecond">
                {{checkUserList.insert_studying_stage}}
            </div>
            <div class='signUpText'>{{'Menus.gender' | text}}
                <span class="essentialAlert">({{'Menus.essential' | text}})</span>
            </div>
            <select class='signUpInputField' name="sex" id='sex' required>
                <option value="">{{'Menus.choose_gender' | text}} </option>
                <option value='male'>{{'Menus.male' | text}}</option>
                <option value='female'>{{'Menus.female' | text}}</option>
            </select>
            <div class="signupErrorSecond">
                {{checkUserList.insert_gender}}
            </div>
            <div class='signUpText'>{{'Users.email' | text}}
                <span class="emailOptional"> ( {{'Menus.optional' | text}} )</span>
            </div>
            <input id='email' class='signUpInputField' placeholder="{{'Menus.insert_email' | text}}"/>
            <div class="signupErrorSecond">
                {{checkUserList.email}}
            </div>
            <div class='signUpCircles_second'>
                <div class='signUpCircleHigh'></div>
                <div class='signUpCircleHigh'></div>
                <div class='signUpCircleHigh'></div>
            </div>
            <div class='signUpButtonsWrapperSecond'>
                <div class='entryCancelButton signUpButtonPrev' ng-click='goPrevSignUp()'>{{'Menus.prev' | text}}</div>
                <div class='entryConfirmButton signUpButtonNext' ng-click='goNextSignUp()' ng-click-once>{{'Menus.next' | text}}</div>
            </div>
            <div class='signUpDummyHiehgt'></div>
        </div>
        <!--fourth page-->
        <div class='signUpBoxContentSwitching' ng-show='currentPage == 4 && email.length > 0'>
            <img class="signupConfirmLogo" src="/img/assets/index/logo_popup.png"/>
            <div class='signUpSuccess'>
                {{'Menus.sign_up_complete'| text}}
            </div>
            <div class='signupEmailConfirm'>
                {{'Menus.signUpEmail_1'| text}}</br>
                {{'Menus.signUpEmail_2'| text}}
            </div>
            <div class='entryConfirmButton signUpCenterButton signupNextBtn signupNextLastBtn' ng-click="goNextSignUp()" ng-click-once>       {{'Buttons.confirm' | text}}
            </div>
            <div class='signUpDummyHiehgt'></div>
        </div>
        <div class='signUpBoxContentSwitching' ng-show='currentPage == 4 && email.length == 0'>
            <img class='entryLogoColorSignUp' src='/img/assets/logo_v1.png'/>
            <div class='loginBoxWelcome'>
                {{'Menus.start_software' | text}},<br/>
                {{'Menus.welcome_entry' | text}}
            </div>
            <div class='signUpSuccessNotEmail'>{{'Menus.sign_up_complete' | text}}</div>
            <div class='entryConfirmButton signUpCenterButton signupNextBtn' ng-click="goNextSignUp()" ng-click-once>
                {{'Buttons.confirm' | text}}</div>
            <div class='signUpDummyHiehgt'></div>
        </div>
    </div>
</div>
