<section data-ng-controller="CourseController" data-ng-init="initWorkspace()" class="wrapper">
    <div id="workspace">
    </div>
</section>

<script type="text/ng-template" id="removeVariable.html">
    <div class="v-modal-header">
        <h4 class="modal-title">{{'Workspace.variable_remove' | text}}</h4>
    </div>
    <div class="v-modal-body">
        <label for="msg">{{'Workspace.variable' | text}} :</label>
        <select ng-model="selected.variable">
            <option ng-repeat="variable in variables" value="{{::variable.id_}}" ng-selected="selected.variable === variable.id_">{{::variable.name_}}</option>
        </select>
    </div>
    <div class="v-modal-footer">
        <button class="btn btn-primary" ng-click="ok()">{{'Buttons.ok' | text}}</button>
        <button class="btn btn-warning" ng-click="cancel()">{{'Buttons.cancel' | text}}</button>
    </div>
</script>

<script type="text/ng-template" id="changeVariableName.html">
    <div class="v-modal-header">
        <h4 class="modal-title">{{'Workspace.variable_rename' | text}}</h4>
    </div>
    <div class="v-modal-body">
        <label for="msg">{{'Workspace.variable' | text}} :</label>
        <select ng-model="selected.variable">
            <option ng-repeat="variable in variables" value="{{::variable.id_}}" ng-selected="selected.variable === variable.id_">{{::variable.name_}}</option>
        </select><br>
        <label>{{'Workspace.variable_newname' | text}} :</label>
        <input type="text" id="varName" name="varName" ng-enter="ok()"/>
    </div>
    <div class="v-modal-footer">
        <button class="btn btn-primary" ng-click="ok()">{{'Buttons.ok' | text}}</button>
        <button class="btn btn-warning" ng-click="cancel()">{{'Buttons.cancel' | text}}</button>
    </div>
</script>


<script type="text/ng-template" id="deleteMessage.html">
    <div class="v-modal-header">
        <h4 class="modal-title">{{'Workspace.signal_remove' | text}}</h4>
    </div>
    <div class="v-modal-body">
        <label for="msg">{{'Workspace.signal' | text}} :</label>
        <select ng-model="selected.message">
            <option ng-repeat="message in messages" value="{{::message.id}}" ng-selected="selected.message === message.id">{{::message.name}}</option>
        </select>
    </div>
    <div class="v-modal-footer">
        <button class="btn btn-primary" ng-click="ok()">{{'Buttons.ok' | text}}</button>
        <button class="btn btn-warning" ng-click="cancel()">{{'Buttons.cancel' | text}}</button>
    </div>
</script>
